@model IEnumerable<WebApplication1.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.voteId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gameTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.voteId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gameId }) |
            @Html.ActionLink("Details", "Details", new { id=item.gameId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gameId })
        </td>
    </tr>
}

</table>
